{% extends 'base.html' %}
{% block title %}
  {{ product.name }}
{% endblock %}
{% block meta_tag %}
<meta name="description" content="{{ product.seo_description }}">
<meta
  name="keywords"
  content="{{ product.seo_keywords }}">
{% endblock %}
{% block content %}
<nav>
  <ul class="breadcrumbs">
    <li><a href="{% url 'website:index' %}">Главная</a></li>
    <li><a href="{% url 'website:catalog' %}">Каталог</a></li>
    <li><a href="{% url 'website:type_product' type_slug=type_slug %}">{{ product.type }}</a></li>
    <li>{{ product.name }}</li>
  </ul>
</nav>
<div class="button-container">
  <a href="javascript:history.back()" class="btn">Назад</a>
</div>
<div class="product-card">
  <h1 class="product-title">{{ product.name }}</h1>
  <div class="product-info">
      <div class="product-image">
          <img src="{{ product.image.url }}" alt="{{ product.name }}">
      </div>
      <div class="product-details">
          <p class="product-type">Тип: {{ product.type }}</p>
          <p class="product-description">Описание: {{ product.description|safe }}</p>
          <table class="product-specs">
              <tr>
                  <th>Характеристики</th>
                  <th>Значение</th>
              </tr>
              <tr>
                  <td>Условный диаметр хвостовика</td>
                  <td style="text-align: right;">
                    <ul>
                      {% for shank in product.diameter_shank.all %}
                      <li>{{ shank }}</li>
                      {% endfor %}
                    </ul>
                  </td>
              </tr>
              <tr>
                  <td>Условный диаметр колонны</td>
                  <td style="text-align: right;">
                    <ul>
                    {% for column in product.diameter_column.all %}
                      <li>{{ column }}</li>
                    {% endfor %}
                  </ul>
                 </td>
              </tr>
              <tr>
                <td>Диаметр открытого ствола</td>
                <td style="text-align: right;">
                  <ul>
                  {% for diameter in product.diameter_open_borehole.all %}
                    <li>{{ diameter }}</li>
                  {% endfor %}
                  </ul>
                </td>
            </tr>
            <tr>
              <td>Наружный диаметр оснастки</td>
              <td style="text-align: right;">{{ product.fitting_outer_diameter }}</td>
          </tr>
            <tr>
              <td>Внутренний диаметр оснастки</td>
              <td style="text-align: right;">{{ product.fitting_inner_diameter }}</td>
            </tr>
            <tr>
              <td>Длина оснастки</td>
              <td style="text-align: right;">{{ product.fitting_length }}</td>
            </tr>
              <!-- Другие характеристики -->
          </table>
      </div>
  </div>
</div>
{% endblock %}