{% load static %}
{% load i18n %}
<nav>
    <ul class="menu">
        <li>
          <a class="navbar-brand" href="{% url 'website:index' %}">
            <img src={% static 'img/logo.png' %} width="250" height="100" alt="logo">
          </a>
                {% for menu_item in menu_items %}
                    {% if menu_item.get_children %}
                        <li class="submenu">
                            <a href="{{ menu_item.url }}">{{ menu_item.display_name }}</a>
                            <ul>
                                {% for m_item in menu_item.get_children %}
                                    <li><a href="{{ m_item.url }}">{{ m_item.display_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ menu_item.url }}">{{ menu_item.display_name }}</a>
                        </li>
                    {% endif %}

                {% endfor %}
                {% get_current_language as CURRENT_LANGUAGE %}
                {% if CURRENT_LANGUAGE == "ru" %}
                <form method="post" action="{% url 'set_language' %}">
                  {% csrf_token %}
                  <input type="hidden" name="language" value="en" />
                  <button type="submit" class="language-switch-button">English</button>
                </form>
              {% elif CURRENT_LANGUAGE == "en" %}
                <form method="post" action="{% url 'set_language' %}">
                  {% csrf_token %}
                  <input type="hidden" name="language" value="ru" />
                  <button type="submit" class="language-switch-button">Русский</button>
                </form>
              {% endif %}
        </ul>
</nav>